@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
html {
	font-family: 'Montserrat', sans-serif !important;
	/* overflow: scroll !important; */
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #4488bb !important;
	border-color: #4488bb;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
	background-color: #4488bb !important;
	border-color: #4488bb;

	color: white;
}

.btn-outline-primary {
	border-color: #4488bb;
	color: #4488bb;
}

.text-primary {
	color: #4488bb !important;
}
